@page "/CLT"

@inject IStringLocalizer<CLT> localizer;

<MatHeadline4>@CLTLabel</MatHeadline4>

<MatCard>
    <MatHeadline5>@salaryLabel</MatHeadline5>
    <MatCardContent>
        <div class="mat-card-content">
            <MatTextField TValue="string" bind="@grossIncome" Label=@grossIncomeLabel Outlined="true"/>
        </div>
    </MatCardContent>
</MatCard>

<MatCard>
    <MatHeadline5>@benefitsLabel</MatHeadline5>
    <MatCardContent>
        <div class="mat-card-content">
            <MatTextField TValue="string" bind="@VR" Label=@VRLabel Outlined="true"/>
            <MatTextField TValue="string" bind="@VA" Label=@VALabel Outlined="true"/>
            <MatTextField TValue="string" bind="@healthInsurance" Label=@healthInsuranceLabel Outlined="true"/>
            <MatTextField TValue="string" bind="@VT" Label=@VTLabel Outlined="true"/>
            <MatTextField TValue="string" bind="@lifeInsurance" Label=@lifeInsuranceLabel Outlined="true"/>
            <MatTextField TValue="string" bind="@PLR" Label=@PLRLabel Outlined="true"/>
        </div>
    </MatCardContent>
</MatCard>

<MatCard>
    <MatHeadline5>@lawBenefitsLabel</MatHeadline5>
    <MatCardContent>
        <div class="mat-card-content">
            <MatTextField TValue="string" bind="@FGTS" Label=@FGTSLabel ReadOnly="true" Outlined="true"/>
            <MatTextField TValue="string" bind="@thirteenthSalary" Label=@thirteenthSalaryLabel ReadOnly="true" Outlined="true"/>
            <MatTextField TValue="string" bind="@paidVacation" Label=@paidVacationLabel ReadOnly="true" Outlined="true"/>
        </div>
    </MatCardContent>
</MatCard>

<MatCard>
    <MatHeadline5>@taxesLabel</MatHeadline5>
    <MatCardContent>
        <div class="mat-card-content">
            <MatTextField TValue="string" bind="@IRRF" Label=@IRRFLabel ReadOnly="true" Outlined="true"/>
            <MatTextField TValue="string" bind="@INSS" Label=@INSSLabel ReadOnly="true" Outlined="true"/>
        </div>
    </MatCardContent>
</MatCard>

<MatCard>
    <MatHeadline5>@netIncomeLabel</MatHeadline5>
    <MatCardContent>
        <div class="mat-card-content">
            <MatTextField TValue="string" bind="@monthlyNetIncome" Label=@monthlyNetIncomeLabel ReadOnly="true" Outlined="true"/>
            <MatTextField TValue="string" bind="@yearlyNetIncome" Label=@yearlyNetIncomeLabel ReadOnly="true" Outlined="true"/>
        </div>
    </MatCardContent>
</MatCard>

@code {
    private string grossIncomeLabel;
    private string CLTLabel;
    private string salaryLabel;
    private string benefitsLabel;
    private string VRLabel;
    private string VALabel;
    private string healthInsuranceLabel;
    private string VTLabel;
    private string lifeInsuranceLabel;
    private string PLRLabel;
    private string lawBenefitsLabel;
    private string FGTSLabel;
    private string thirteenthSalaryLabel;
    private string paidVacationLabel;
    private string taxesLabel;
    private string IRRFLabel;
    private string INSSLabel;
    private string netIncomeLabel;
    private string monthlyNetIncomeLabel;
    private string yearlyNetIncomeLabel;

    public double grossIncome { get; set; }
    public double VR { get; set; }
    public double VA { get; set; }
    public double healthInsurance { get; set; }
    public double VT { get; set; }
    public double lifeInsurance { get; set; }
    public double PLR { get; set; }
    public double FGTS { get; set; }
    public double thirteenthSalary { get; set; }
    public double paidVacation { get; set; }
    public double IRRF { get; set; }
    public double INSS { get; set; }
    public double monthlyNetIncome { get; set; }
    public double yearlyNetIncome { get; set; }

    protected override void OnInitialized()
    {
        grossIncomeLabel = localizer["grossIncome"];
        CLTLabel = localizer["CLT"];
        salaryLabel = localizer["salary"];
        benefitsLabel = localizer["benefits"];
        VRLabel = localizer["VR"];
        VALabel = localizer["VA"];
        healthInsuranceLabel = localizer["healthInsurance"];
        VTLabel = localizer["VT"];
        lifeInsuranceLabel = localizer["lifeInsurance"];
        PLRLabel = localizer["PLR"];
        lawBenefitsLabel = localizer["lawBenefits"];
        FGTSLabel = localizer["FGTS"];
        thirteenthSalaryLabel = localizer["thirteenthSalary"];
        paidVacationLabel = localizer["paidVacation"];
        taxesLabel = localizer["taxes"];
        IRRFLabel = localizer["IRRF"];
        INSSLabel = localizer["INSS"];
        netIncomeLabel = localizer["netIncome"];
        monthlyNetIncomeLabel = localizer["monthlyNetIncome"];
        yearlyNetIncomeLabel = localizer["yearlyNetIncome"];
    }
}
